<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="especialidades">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Especialidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materias">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Materias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="planes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Planes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comisiones">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Comisiones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cursos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Curso
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas/1/alumnos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Alumnos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas/2/profesores">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profesores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscripciones">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inscripciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
    </nav>
</div>

